
.container {
    max-width: 900px;
    margin: auto;
}

#graphic {
  padding-top: 100px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: Arial;
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

.space {
    margin-bottom: 200px;
    font-family: "TiemposTextWeb-Regular","Georgia";
    font-size: 16px;
    line-height: 23px;
    color: white;
}

#sections .title {
    font-family: DIN Condensed;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
}

#vis .small-title {
    font-size: 45px;
    font-family: DIN Condensed;;
    text-anchor: middle;
    font-weight: bold;
}

#vis .small-title2 {
    font-size: 28px;
    font-family: DIN Condensed;;
    text-anchor: middle;
    font-weight: bold;
}

#vis .stack-legend-text {
    font-family:DIN Condensed;
    font-weight: light;
    font-size: 18px;
}

#vis .main-title {
  font-size: 80px;
  font-family:DIN Condensed;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

#vis .dots-title {
    font-size:35px;
    text-anchor: middle;
    fill: gray;

}

#vis .bubbles-text {
    fill: white;
    text-anchor: middle;
    font-weight: bold;
}

#vis .debt-text {
    fill: black;
    text-anchor: middle;
    font-weight: bold;
}

#vis .tooltip {
    opacity: 1;
    text-anchor: left;
    font-size: 15px;
    font-weight: bold;
}

#vis .dot-labels-active {
    opacity: 1;
    fill: black;
    font-size:20px;
    font-family: DIN Condensed;
        font-weight: bold;
}


#vis .tooltip {
    opacity: 1;
    font-family: DIN Condensed;
    font-size: 20px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}


.low-income {
    fill: #173F5F;
 }

.middle-income {
    fill: #F6D55C;
}

.high-income {
    fill: #ED553B;
}
