
.container {
    max-width: 900px;
    margin: auto;
}

#graphic {
  padding-top: 100px;
}

#sections {
  position: relative;
  display: inline-block;
  width: 250px;
  top: 0px;
  z-index: 90;
  padding-bottom: 200px;
}

.step {
  margin-bottom: 200px;
  font-family: "TiemposTextWeb-Regular","Georgia";
  font-size: 16px;
  line-height: 23px;
  color: #767678;
}

#sections .title {
  font-family: Arial,Helvetica,"san-serif";
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 2px;
  color: #262626;
  line-height: 1.2em;
}

#extra-space {
  height: 300px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 60px;
  z-index: 1;
  margin-left: 0;
}

#vis .main-title {
  font-size: 60px;
  font-family: Arial,Helvetica,"san-serif";;
  text-anchor: middle;
}

#vis .sub-title {
  font-size:80px;
  text-anchor: middle;
}

#vis .dots-title {
    font-size:35px;
    text-anchor: middle;
    fill: gray;

}

#vis .tooltip {
    opacity: 1;
}

#vis .highlighted-dots-title {
    opacity: 1;
    fill: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    font-weight: bold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #666;
  shape-rendering: crispEdges;
}

.highlight {
  fill: #008080;
  font-weight: bold;
}

.cough-arrow {
  stroke: #000;
  stroke-width: 4px;

}


.low-income {
    fill: #173F5F;
 }

.middle-income {
    fill: #F6D55C;
}

.high-income {
    fill: #ED553B;
}
